body {
:root {
--pinkcondition: #e297e2;
--mimipink: #ffd8eb;
--moodlighting: #ffe5d2;
--pinkpalazzo: #dfa08e;
--goldilocks: #fff299;
--icylife: #58fbe1;
--lemongate: #8dffbc;
--twilightmauve: #967c81;
--truelavender: #7a8bca;
--bluemoonbay: #5d8694;
--carol: #2f8ea8;
--opalescent: #3c90c7;
--plantaingreen: #316651;
--duckhunt: #095b00;
--dropgreen: #65b85c;
}

.BGpinkcondition {background-color: --pinkcondition;}
.BGmimipink {background-color: --mimipink;}
.BGmoodlighting {background-color: --moodlighting;}
.BGpinkpalazzo {background-color: --pinkpalazzo;}
.BGgoldilocks {background-color: --goldilocks;}
.BGicylife {background-color: --icylife;}
.BGlemongate {background-color: --lemongate;}
.BGtwilightmauve {background-color: --twilightmauve;}
.BGtruelavender {background-color: --truelavender;}
.BGbluemoonbay {background-color: --bluemoonbay;}
.BGcarol {background-color: --carol;}
.BGopalescent {background-color: --opalescent;}
.BGplantaingreen {background-color: --plantaingreen;}
.BGduckhunt {background-color: --duckhunt;}
.BGdropgreen {background-color: --dropgreen;}

.pinkcondition {color: --pinkcondition;}
.mimipink {color: --mimipink;}
.moodlighting {color: --moodlighting;}
.pinkpalazzo {color: --pinkpalazzo;}
.goldilocks {color: --goldilocks;}
.icylife {color: --icylife;}
.lemongate {color: --lemongate;}
.twilightmauve {color: --twilightmauve;}
.truelavender {color: --truelavender;}
.bluemoonbay {color: --bluemoonbay;}
.carol {color: --carol;}
.opalescent {color: --opalescent;}
.plantaingreen {color: --plantaingreen;}
.duckhunt {color: --duckhunt;}
.dropgreen {color: --dropgreen;}

.L001 {background-color: --duckhunt; color: --pinkcondition;}
.L002 {background-color: --opalescent; color: --icylife;}
.L003 {background-color: --twilightmauve; color: --goldilocks;}
.L004 {background-color: --pinkpalazzo; color: --twilightmauve;}
.L005 {background-color: --truelavender; color: --lemongate;}
.L006 {background-color: --carol; color: --pinkpalazzo;}
.L007 {background-color: --plantaingreen; color: --moodlighting;}
.L008 {background-color: --goldilocks; color: --plantaingreen;}
.L009 {background-color: --pinkpalazzo; color: --carol;}
.L010 {background-color: --carol; color: --pinkcondition;}
.L011 {background-color: --bluemoonbay; color: --pinkpalazzo;}
.L012 {background-color: --bluemoonbay; color: --mimipink;}
.L013 {background-color: --pinkpalazzo; color: --duckhunt;}
.L014 {background-color: --icylife; color: --twilightmauve;}
.L015 {background-color: --moodlighting; color: --bluemoonbay;}
.L016 {background-color: --twilightmauve; color: --lemongate;}
.L017 {background-color: --pinkpalazzo; color: --moodlighting;}
.L018 {background-color: --duckhunt; color: --opalescent;}
.L019 {background-color: --pinkpalazzo; color: --goldilocks;}
.L020 {background-color: --goldilocks; color: --carol;}
.L021 {background-color: --pinkcondition; color: --bluemoonbay;}
.L022 {background-color: --pinkpalazzo; color: --mimipink;}
.L023 {background-color: --pinkcondition; color: --carol;}
.L024 {background-color: --lemongate; color: --plantaingreen;}
.L025 {background-color: --duckhunt; color: --pinkpalazzo;}
.L026 {background-color: --truelavender; color: --mimipink;}
.L027 {background-color: --pinkpalazzo; color: --bluemoonbay;}
.L028 {background-color: --bluemoonbay; color: --goldilocks;}
.L029 {background-color: --icylife; color: --duckhunt;}
.L030 {background-color: --twilightmauve; color: --duckhunt;}
.L031 {background-color: --truelavender; color: --goldilocks;}
.L032 {background-color: --goldilocks; color: --truelavender;}
.L033 {background-color: --twilightmauve; color: --moodlighting;}
.L034 {background-color: --pinkcondition; color: --duckhunt;}
.L035 {background-color: --duckhunt; color: --icylife;}

div.rcbox {border-radius: 15px; padding: 12px; max-width: 960px;}
div.box1 {border-radius: 7px; padding: 12px; spacing: 12px;}
p {max-width: 500px; text-align: left;}

}
